.slide-menu {
  position: fixed;
  top: 0;
  width: 400px;
  height: 100%;
  max-width: 85%;
  box-shadow: 0 4px 25px 0 #00000033;
  z-index: 300;
  background: #F5F9FC;

  @media (prefers-color-scheme: dark) {
    background: #1f2937;
  }

  .dark & {
    background: #1f2937;
  }

  &.rightSide {
    right: -420px;
    transition: right 0.3s ease;
    &.open {
      right: 0!important;
    }
  }
  &.leftSide {
    width: 348px;
    left: -348px;
    transition: left 0.3s ease;
    &.open {
      left: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .close-button {
      background: none;
      border: none;
      font-size: 24px;
      align-self: flex-end;
      cursor: pointer;
    }
    .menu-header {
      padding: 20px;
      border-bottom: 1px solid #ccc;
      h2 {
        margin: 0;
      }
    }
  }
}

.slide-menu__wrapper.open {
  .slide-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 250;
  }
}
