@import "tailwindcss";

* {
    font-family: "inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --color-primary: #a5a6ff;
  --color-primaryDark: #130f49;
  --color-main: #55527c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
  .link {
    @apply block p-2 text-center transition duration-300 hover:text-primary;
  }
  .social-link {
    @apply block p-2 text-center transition duration-300 hover:bg-primary w-10 h-10 bg-blue-100 rounded-full;
  }
  .primary-button {
    @apply inline-block min-w-44 text-center bg-primaryDark dark:bg-gray-700 text-white dark:text-white py-4 px-7 font-bold text-base rounded border border-primaryDark dark:border-gray-600 transition duration-300 hover:opacity-70 dark:hover:opacity-80 disabled:opacity-70 disabled:cursor-progress;
  }
  .secondary-button {
    @apply inline-block min-w-44 text-center transition duration-300 bg-transparent py-4 px-7 font-bold text-base rounded text-main dark:text-gray-300 border border-primaryDark dark:border-gray-600 hover:bg-primaryDark dark:hover:bg-gray-700 hover:text-white;
  }
  .container-block {
    @apply max-w-7xl w-full;
  }
  .container-row {
    @apply grow p-5 lg:p-10 items-center justify-center;
  }

  .regular-text {
    @apply text-main/80 dark:text-gray-300 font-medium text-lg leading-8;
  }

  .input {
    @apply block w-full rounded mb-2 p-2 text-main dark:text-gray-300 placeholder:text-main/55 dark:placeholder:text-gray-500 text-lg border border-gray-300 dark:border-gray-600 outline-none bg-white dark:bg-gray-700;
  }

  .more {
    @apply block mt-8 text-primaryDark dark:text-white font-bold text-lg;
  }

  .styled-block {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      background: rgba(255, 255, 255, 0.5);
      content: "";
      transition: transform 0.6s;
      transform: scale3d(3.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    }
    &:hover:before {
      transform: scale3d(3.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    }
  }

  .content {
    @apply flex flex-col grow overflow-scroll transition-all duration-1000 relative;
  }
  .content-visible {
    @apply left-0 opacity-100;
  }
  .content-hidden {
    @apply left-[-30px] opacity-90;
  }

}

